*
{
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/e6eab654362267.5958694758bbb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.white
{
    color: aliceblue;
}
.red
{
    color: red;
}